@import '~bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.scss";

$trackpanecolor: darkgray;

html {
  background-color: black;
  color: white;
}

label {
  color: white;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.offcanvas-body {
  background-color: #303030;
  color: white;
}

.offcanvas-header {
  background-color: #303030;
  color: white;
}

.blackmodal {
  background-color: #303030;
  color: white;
}

.heading {
  clear: both;
  background-color: darkgray;
}

.projectTitle {
  font-size: 20px;
  padding: 10px;
  display: inline-block;
}

.noborder-button {
  border: 0px;
}

.inline-project-button {
  float: right;
  border: 0px;
  color: red;
  background-color: white;
}

.tracks {
  border: 1px solid black;
  text-align: center;
  padding: 1em;
  background-color: #303030;
}

.track {
  width: 300px;
  color: white;
  font-size: 20px;
  display: inline-block;
  margin: 0.25em;
  vertical-align: middle;
}

.track-title {
  color: white;
  float: left;
  background-color: transparent;
  border: none;

  ::spelling-error {
    text-decoration: wavy blue;
  }
}

.track-pane {
  font-size: 13px;
  width: 300px;
  height: 200px;
  background-color: $trackpanecolor;
  border-radius: 5px;
  padding: 5px;
}

.track-button {
  font-size: 20px;
  border: 0px;
  background-color: transparent;
  background-blend-mode: normal;
  color: black;

  :hover {
    text-shadow: red 0 0 5px;;
  }
}

.track-button-red {
  color: red;
}

@keyframes recording {
  0%   {color:red; scale: 1;} 
  50%  {color:orange; scale: 1.4;}
  100% {color:red; scale: 1;}
}

.track-record-button-active {
  color: yellow;

  animation-name: recording;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.track-button-white {
  color: white;
  float: right;
}

.waveform {
  background-color: black;
  width: 220px;
  height: 70px;
  padding: 0px;
  border-radius: 5px;
}