@import '~bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons.scss";

html {
  background-color: black;
  color: white;
}

label {
  color: white;
}

.App {
  text-align: center;
  background-color: black;
  color: white;
}

.offcanvas-body {
  background-color: #303030;
  color: white;
}

.offcanvas-header {
  background-color: #303030;
  color: white;
}

.blackmodal {
  background-color: #303030;
  color: white;
}

.heading {
  clear: both;
}

.projectTitle {
  font-size: 20px;
  padding: 10px;
  display: inline-block;
}

.noborder-button {
  border: 0px;
}

.inline-project-button {
  float: right;
  border: 0px;
  color: red;
  background-color: white;
}